{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebForm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/set1.css' %}">
</head>
<body>
<form id="all-users" method="GET">
    <section class="content">
        <h2 class="align-left">Get all users (REST Framework)</h2>
    </section>
    <a href="#" data-url="/api/user-list/" class="btn btn-lg btn-success">Go!</a>
</form>
<form id="edit-user" method="PUT">
    <section class="content">
        <h2 class="align-left">Change email for existing user (REST Framework)</h2>
        <span class="input">
            <input type="text" required name="pk" id="input-1">
            <label for="input-1">
                <span class="label-content">User PK</span>
            </label>
        </span>
        <span class="input">
            <input type="text" required name="username" id="input-2">
            <label for="input-2">
                <span class="label-content">Username</span>
            </label>
        </span>
        <span class="input">
            <input type="text" required name="email" id="input-3">
            <label for="input-3">
                <span class="label-content">New Email</span>
            </label>
        </span>
    </section>
    <a href="#" data-validate="email" data-r-type="PUT" data-url="/api/user-detail/" class="btn btn-lg btn-success">Go!</a>
</form>

<form id="autocomplete">
    <section class="content">
        <h2 class="align-left">Ajax auto complete (self built API)</h2>
        <span class="input">
            <input name="city" type="text" id="input-4">
            <label for="input-4">
                <span class="label-content">City</span>
            </label>
        </span>
    </section>
</form>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Users</h4>
      </div>
      <div id="modalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CDN jquery & bootstrap js -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js" ></script>
<script src="{% static 'js/app.js' %}" ></script>
</body>
</html>